{{>html}}
<body>
 {{>navbar}}

<!-- MAIN HEADER -->

<div class="container-fluid main_menu">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
<div class="row">
    <div class="col-md-10 col-12 main_header_left align-items-center">
        <figure class="err">
            <img src="imgs/err.jpg" alt="" class="img-fluid">
        </figure>

<p>Welcome to Weather App.</p>
<h1>{{errorMsg}}</h1>

<a href="/"><button>Go Back</button></a>
    </div>
    <!-- RITGHT SIDE DIV -->
 
</div>
            </div>
        </div>

    </div>

    <!-- FOOTER CODE -->
{{>footer}}
</body>
</html>