{{>html}}
<body>
 {{>navbar}}

<!-- MAIN HEADER -->

<div class="container-fluid mainMenu">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
<div class="row">
    <div class="col-md-6 col-12 main_header_right align-items-center">
        <figure>
            <img src="imgs/bg2.jpg" alt="" class="img-fluid">
        </figure>
</div>
    <!-- LEFT SIDE DIV -->
    <div class="col-md-6 col-12 main_header_left">
<p>Welcome to Weather App.</p>
<h1>I am a  <span class="txt-clr">Mern stack developer</span> and student.</h1>

<button>About Us</button>
    </div>
    <!-- RITGHT SIDE DIV -->
 
</div>
            </div>
        </div>

    </div>

    <!-- FOOTER CODE -->
{{>footer}}
</body>
</html>